<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {{range .channelInfos}}
        <p>ChannelID(チャンネルのURL):{{.ChannelID}}</p>
        <p>ChannelName(チャンネルの名前):{{.ChannelName}}</p>
        <p>ViewCount(チャンネルの視聴回数):{{.ViewCount}}</p>
        <p>SubscriberCount(チャンネルの登録者数):{{.SubscriberCount}}</p>
        <p>VideoCount(動画数):{{.VideoCount}}</p>
        <br>
        {{end}}
    </ul>
</body>

</html>