<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楽しみにしてるぜ！</title>
</head>

<body>
    <h1>Get youtubeLive comment api</h1>
    <h3>ここでは、橘ひなのさんの様々な情報（youtube live のコメント）が取得できます。</h3>
    <ul>
        <li>ある動画から特定のコメントを取得する。</li>
        <p>/api/comme/chvimsg_simi?chid=UCvUc0m317LWTTPZoBQV479A&id=b3ddkCowTdo&msg=草</p>
        <p>上のような形で出来ます。</p>
        <h4>
            <li>使い方は、<a href="https://github.com/1k-ct/needmov/blob/interF/server/server.go#L64">ここ</a>を見てください。</li>
        </h4>
        <li>質問、連絡、訂正などは、<a href="https://twitter.com/VNGqt">twitter</a>でお願いします。</li>
    </ul>
</body>

</html>